In [37]:
import pandas as pd
import numpy as np

In [41]:

filenames = []

x = '''
-rw-r--r--@ 1 danielcohen  staff  94921787 Dec 27 11:26  2017-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  17536200 Dec 16 11:16  201801-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  19787812 Dec 16 11:17  201802-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  20670716 Dec 16 11:18  201803-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  24254783 Dec 16 11:19  201804-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  33138017 Dec 16 11:21  201805-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  36097891 Dec 16 11:22  201806-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  36631752 Dec 16 11:24  201807-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  35451761 Dec 16 11:25  201808-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  34474235 Dec 16 11:27  201809-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  37348320 Dec 16 11:28  201810-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  24914785 Dec 16 11:29  201811-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  24385392 Dec 16 11:31  201812-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  35610597 Dec 16 11:32  201901-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  33995020 Dec 16 11:33  201902-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  47545283 Dec 16 11:35  201903-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  44382625 Dec 16 11:36  201904-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  33860283 Dec 16 11:38  201905-baywheels-tripdata.csv  
-rw-r--r--@ 1 danielcohen  staff  35610277 Dec 16 11:42  201906-baywheels-tripdata.csv     
-rw-r--r--@ 1 danielcohen  staff  44540874 Dec 16 11:44  201907-baywheels-tripdata.csv  
-rw-r--r--@ 1 danielcohen  staff  39120422 Dec 16 11:46  201908-baywheels-tripdata.csv  
-rw-r--r--@ 1 danielcohen  staff  40479431 Dec 16 11:47  201909-baywheels-tripdata.csv  
-rw-r--r--@ 1 danielcohen  staff  44675257 Dec 16 11:49  201910-baywheels-tripdata.csv  
-rw-r--r--@ 1 danielcohen  staff  34669388 Dec 20 10:38  201911-baywheels-tripdata.csv  '''
    
for line in x.splitlines()[1:]:
    line = line.split(' ')
    filenames.append(f'data/lyft/{line[11]}')

In [83]:
#df = pd.read_csv(f'{filenames[1]}', sep = ';')

In [6]:
for i in filenames[2:]:
    print(i)
    df = df.append(pd.read_csv(f'{i}', sep = ';'), ignore_index=True, sort=False)

data/lyft/201801-fordgobike-tripdata.csv
data/lyft/201802-fordgobike-tripdata.csv
data/lyft/201803-fordgobike-tripdata.csv
data/lyft/201804-fordgobike-tripdata.csv
data/lyft/201805-fordgobike-tripdata.csv
data/lyft/201806-fordgobike-tripdata.csv
data/lyft/201807-fordgobike-tripdata.csv
data/lyft/201808-fordgobike-tripdata.csv
data/lyft/201809-fordgobike-tripdata.csv
data/lyft/201810-fordgobike-tripdata.csv
data/lyft/201811-fordgobike-tripdata.csv
data/lyft/201812-fordgobike-tripdata.csv
data/lyft/201901-fordgobike-tripdata.csv
data/lyft/201902-fordgobike-tripdata.csv
data/lyft/201903-fordgobike-tripdata.csv
data/lyft/201904-fordgobike-tripdata.csv
data/lyft/201905-baywheels-tripdata.csv
data/lyft/201906-baywheels-tripdata.csv

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

data/lyft/201907-baywheels-tripdata.csv

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

data/lyft/201908-baywheels-tripdata.csv
data/lyft/201909-baywheels-tripdata.csv
data/lyft/201910-baywheels-tripdata.csv
data/lyft/201911-baywheels-tripdata.csv

In [60]:
# remove journeys that do not have a start_station_id or end_station_id
df = df.dropna(subset=['start_station_id','end_station_id'])

In [77]:
#number of trips that end where they start
sum(df['start_station_id'] == df['end_station_id'])
# consider removing from dataset

126257

In [52]:
df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,bike_share_for_all_trip,rental_access_method
0,80110,2017-12-31 16:57:39.6540,2018-01-01 15:12:50.2450,74.0,Laguna St at Hayes St,37.776435,-122.426244,43.0,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,NaN,NaN
1,78800,2017-12-31 15:56:34.8420,2018-01-01 13:49:55.6170,284.0,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96.0,Dolores St at 15th St,37.766210,-122.426614,88,Customer,NaN,NaN
2,45768,2017-12-31 22:45:48.4110,2018-01-01 11:28:36.8830,245.0,Downtown Berkeley BART,37.870348,-122.267764,245.0,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,NaN
3,62172,2017-12-31 17:31:10.6360,2018-01-01 10:47:23.5310,60.0,8th St at Ringold St,37.774520,-122.409449,5.0,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,NaN
4,43603,2017-12-31 14:23:14.0010,2018-01-01 02:29:57.5710,239.0,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247.0,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,NaN,NaN

In [61]:
#subset of data for only san francisco data. subset of 3.5 million
sf = df[df['end_station_longitude'] < -122.356360]

In [63]:
sf.to_csv('data/lyft/sf_combined.csv')

In [64]:
%time df.to_csv('data/lyft/lyft_combined.csv')

CPU times: user 56.2 s, sys: 1.89 s, total: 58 s
Wall time: 58.6 s

In [65]:
#create a sub pd.dataframe to calculate unique journies
start_end = sf[['start_station_id','end_station_id']]

In [35]:
start_end.to_csv('data/lyft/start_end.csv')

In [79]:
len(df)

4653275

In [82]:
len(df.columns)

15