In [3]:
import pandas as pd
import numpy as np

In [4]:

filenames = []

x = '''
-rw-r--r--@ 1 danielcohen  staff  94921787 Dec 27 11:26  2017-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  17536200 Dec 16 11:16  201801-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  19787812 Dec 16 11:17  201802-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  20670716 Dec 16 11:18  201803-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  24254783 Dec 16 11:19  201804-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  33138017 Dec 16 11:21  201805-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  36097891 Dec 16 11:22  201806-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  36631752 Dec 16 11:24  201807-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  35451761 Dec 16 11:25  201808-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  34474235 Dec 16 11:27  201809-fordgobike-tripdata.csv 
-rw-r--r--@ 1 danielcohen  staff  37348320 Dec 16 11:28  201810-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  24914785 Dec 16 11:29  201811-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  24385392 Dec 16 11:31  201812-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  35610597 Dec 16 11:32  201901-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  33995020 Dec 16 11:33  201902-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  47545283 Dec 16 11:35  201903-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  44382625 Dec 16 11:36  201904-fordgobike-tripdata.csv   
-rw-r--r--@ 1 danielcohen  staff  33860283 Dec 16 11:38  201905-baywheels-tripdata.csv  
-rw-r--r--@ 1 danielcohen  staff  35610277 Dec 16 11:42  201906-baywheels-tripdata.csv     
-rw-r--r--@ 1 danielcohen  staff  44540874 Dec 16 11:44  201907-baywheels-tripdata.csv  
-rw-r--r--@ 1 danielcohen  staff  39120422 Dec 16 11:46  201908-baywheels-tripdata.csv  
-rw-r--r--@ 1 danielcohen  staff  40479431 Dec 16 11:47  201909-baywheels-tripdata.csv  
-rw-r--r--@ 1 danielcohen  staff  44675257 Dec 16 11:49  201910-baywheels-tripdata.csv  
-rw-r--r--@ 1 danielcohen  staff  34669388 Dec 20 10:38  201911-baywheels-tripdata.csv  '''
    
for line in x.splitlines()[1:]:
    line = line.split(' ')
    filenames.append(f'data/lyft/{line[11]}')

In [5]:
df = pd.read_csv(f'{filenames[0]}', sep = ';')

In [6]:
for i in filenames[1:]:
    print(i)
    df = df.append(pd.read_csv(f'{i}', sep = ';'), ignore_index=True, sort=False)

data/lyft/201801-fordgobike-tripdata.csv
data/lyft/201802-fordgobike-tripdata.csv
data/lyft/201803-fordgobike-tripdata.csv
data/lyft/201804-fordgobike-tripdata.csv
data/lyft/201805-fordgobike-tripdata.csv
data/lyft/201806-fordgobike-tripdata.csv
data/lyft/201807-fordgobike-tripdata.csv
data/lyft/201808-fordgobike-tripdata.csv
data/lyft/201809-fordgobike-tripdata.csv
data/lyft/201810-fordgobike-tripdata.csv
data/lyft/201811-fordgobike-tripdata.csv
data/lyft/201812-fordgobike-tripdata.csv
data/lyft/201901-fordgobike-tripdata.csv
data/lyft/201902-fordgobike-tripdata.csv
data/lyft/201903-fordgobike-tripdata.csv
data/lyft/201904-fordgobike-tripdata.csv
data/lyft/201905-baywheels-tripdata.csv
data/lyft/201906-baywheels-tripdata.csv

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

data/lyft/201907-baywheels-tripdata.csv

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

data/lyft/201908-baywheels-tripdata.csv
data/lyft/201909-baywheels-tripdata.csv
data/lyft/201910-baywheels-tripdata.csv
data/lyft/201911-baywheels-tripdata.csv

In [7]:
df.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id
count,4.740302e+06,4.668816e+06,4.740302e+06,4.740302e+06,4.666976e+06,4.740302e+06,4.740302e+06,4.740302e+06
mean,8.596521e+02,1.295878e+02,3.776743e+01,-1.223520e+02,1.269432e+02,3.776722e+01,-1.223502e+02,1.272253e+04
std,2.303987e+03,1.111017e+02,1.196572e-01,2.481435e-01,1.105030e+02,1.677412e-01,4.546474e-01,7.345846e+04
min,6.000000e+01,3.000000e+00,0.000000e+00,-1.225143e+02,3.000000e+00,0.000000e+00,-1.225143e+02,4.000000e+00
25%,3.580000e+02,3.700000e+01,3.777041e+01,-1.224117e+02,3.000000e+01,3.777106e+01,-1.224113e+02,1.413000e+03
50%,5.670000e+02,9.200000e+01,3.778101e+01,-1.223983e+02,9.000000e+01,3.778107e+01,-1.223974e+02,2.731000e+03
75%,8.860000e+02,2.000000e+02,3.779539e+01,-1.222935e+02,1.970000e+02,3.779591e+01,-1.222948e+02,4.450000e+03
max,8.636900e+04,4.930000e+02,4.551000e+01,0.000000e+00,4.930000e+02,4.551000e+01,0.000000e+00,9.999370e+05

In [22]:
df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,bike_share_for_all_trip,rental_access_method
0,80110,2017-12-31 16:57:39.6540,2018-01-01 15:12:50.2450,74.0,Laguna St at Hayes St,37.776435,-122.426244,43.0,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,NaN,NaN
1,78800,2017-12-31 15:56:34.8420,2018-01-01 13:49:55.6170,284.0,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96.0,Dolores St at 15th St,37.766210,-122.426614,88,Customer,NaN,NaN
2,45768,2017-12-31 22:45:48.4110,2018-01-01 11:28:36.8830,245.0,Downtown Berkeley BART,37.870348,-122.267764,245.0,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,NaN
3,62172,2017-12-31 17:31:10.6360,2018-01-01 10:47:23.5310,60.0,8th St at Ringold St,37.774520,-122.409449,5.0,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,NaN
4,43603,2017-12-31 14:23:14.0010,2018-01-01 02:29:57.5710,239.0,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247.0,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,NaN,NaN

In [23]:
# count_dict = {}
# for i in filenames:
#     temp = pd.read_csv(f'{i}', sep = ';')
#     count_dict[i] = temp['duration_sec'].count()

In [29]:
#subset of data for only san francisco data. subset of 3.5 million
sf = df[df['end_station_longitude'] < -122.356360]

In [32]:
sf.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id
count,3.519299e+06,3.482413e+06,3.519299e+06,3.519299e+06,3.481316e+06,3.519299e+06,3.519299e+06,3.519299e+06
mean,8.839378e+02,9.670585e+01,3.777765e+01,-1.224071e+02,9.327324e+01,3.777822e+01,-1.224064e+02,1.162017e+04
std,2.253638e+03,1.043439e+02,7.096125e-02,2.264715e-01,1.024534e+02,1.297366e-02,1.327266e-02,6.880431e+04
min,6.000000e+01,3.000000e+00,0.000000e+00,-1.225143e+02,3.000000e+00,3.770402e+01,-1.225143e+02,4.000000e+00
25%,3.850000e+02,2.500000e+01,3.776976e+01,-1.224174e+02,2.300000e+01,3.777008e+01,-1.224160e+02,1.530000e+03
50%,6.000000e+02,6.700000e+01,3.777664e+01,-1.224037e+02,6.600000e+01,3.777664e+01,-1.224032e+02,2.802000e+03
75%,9.160000e+02,1.140000e+02,3.778752e+01,-1.223953e+02,1.100000e+02,3.778806e+01,-1.223953e+02,4.743000e+03
max,8.635500e+04,4.930000e+02,3.787014e+01,0.000000e+00,4.930000e+02,3.786885e+01,-1.223632e+02,9.999370e+05

In [33]:
sf.to_csv('data/lyft/sf_combined.csv')

In [195]:
%time df.to_csv('data/lyft/lyft_combined.csv')

CPU times: user 51.8 s, sys: 1.66 s, total: 53.5 s
Wall time: 53.6 s

In [34]:
#create a sub pd.dataframe to calculate determine trips
start_end = sf[['start_station_id','end_station_id']]

In [35]:
start_end.to_csv('data/lyft/start_end.csv')

In [16]:
df.start_station_id.nunique()

442

In [19]:
start_end.head()

   start_station_id  end_station_id
0              74.0            43.0
1             284.0            96.0
2             245.0           245.0
3              60.0             5.0
4             239.0           247.0